.container {
    background-color: transparent;
    width: 80vw;
    text-align: center;
    display: block;
    height: 100vh;
    margin: 10%;
    align-items: center;

}

.order-component {
    background-color: var(--base-variant);
    border-radius: 32px;
    padding: 16px;
    margin: 32px;

}

.orders-table {
    width: 100%;
    border-collapse: collapse;
}

.orders-table tp, .orders-table td {
    padding: 5%;
}

.dropdown-button {
    background-color: transparent;
    border: none;
    text-align: left;
}

.dropdown-button:hover {
    cursor: pointer;
}